/* home.css */

/* Styles généraux pour la page */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 91.6vh;
    background-image: url('../../../assets/Images/BG.png');
    background-size: cover;
    background-position: center;
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding: 30px;
    overflow: hidden;
    position: relative;
    height: 800px;
}

/* Animation d'entrée pour la citation */
.quote {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    animation-delay: 0.5s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.quote-section {
    text-align: center;
    max-width: 800px;
    margin-top: 30px;
}

.quote h1 {
    font-family: 'Cooper Black', sans-serif;
    font-size: 36px;
    color: #ff4d4d;
    margin-bottom: 10px;
}

.quote p {
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
}

/* Section des boutons */
.button-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.btn {
    margin: 0 10px;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #235724;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Effet hover et interactivité */
.btn:hover {
    background-color: #45a049;
    transform: scale(1.05); /* Légère augmentation de taille */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre */
}

/* Effet actif */
.btn:active {
    transform: scale(0.98); /* Légère réduction de taille pour effet clic */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
